emails,passwords,method
anvuaus@gmail.com,bk853f1s52,search
anvuaus@gmail.com,bk853f1s52,details
example2@gmail.com,example2_password,details
example3@gmail.com,example3_password,details
example4@gmail.com,example4_password,details